.login-container {
  background-color: #94bde2;
  width: 80%;
  height: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  border-radius: 10px;

  .alert-container {
    position: absolute;
    width: 100%;
  }

  .form-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    .username {
      width: 80%;
      margin: 0 auto;
    }

    .button-container {
      width: 100%;

      .start-button {
        margin-left: 40%;
      }
    }

  }
}